$small-width: 479px; 
$mobile-width: 768px;
$tablet-width: 991px;
$max-width: 1560px;

$font-family: 'Inter', sans-serif;

$cl-white: #ffffff;
$cl-grey: #667085;
$cl-border: #D0D5DD;
$cl-primary: #7537FA;
$cl-blue: #3762FA;
$cl-text: #626A7B;
$cl-text-200: #535353;
$transition: all 300ms ease;